html, body {
  margin: 0;
  font-family: arial,sans-serif;
  min-width: 100%;
  font-size: 14px;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

/* CSS for header part begins here */

#top-header-id .sidelogo {
  padding-top: 5px;
  float: left;
  width: 300px;
  line-height: 29px;
}

#nav-logo {
  padding: 11px 18px 0 24px;
  position: relative;
  width: 162px;
  float: left;
}

#nav-logo .nav-logo-link {
  background: transparent url('../images/logo.png') no-repeat top left;
  background-size: 102px;
  width: 120px;
  height: 32px;
  display: block;
}


#top-header-id .sidelogo .side-image-text {
  padding-top: 8px;
  float: left;
  font-family:system-ui;
}

#top-header-id .sidelogo .side-image-text p {
  line-height: 13px;
}


#top-header-id .uppertext{
  font-size: 10px; 
}

#top-header-id .lowertext{
  font-size: 15px;
}


.top-header{
  height: 55px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  color: white;
}


#nav-search {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 11px;
  padding-right: 25px;
  float:left; 
  width: calc(100% - 700px);
}


#nav-search .nav-left {
  height: 35px;
  background-color: #f3f3f3;
  border-radius: 4px 0 0 4px;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  float: left; 
  width: 7%;
}

#nav-search .nav-left:hover {
  background-color: #dadada;
  border-left-color: #dadada;
  border-top-color: #dadada;
  border-bottom-color: #dadada;
}

#nav-search .nav-search-label {
  color: #777;
  display: block;
  font-size: 12px;
  line-height: 33px;
  margin-right: 21px;
  margin-left: 10px;
}

#nav-search .nav-left i {
  position: absolute;
  top: 10px;
  right: 9px;
  color: #a0a0a0;
  font-size: 11px;
}

#nav-search select {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  height: 35px;
  display: block;
  outline: none;
  cursor: pointer;
}

#nav-search .nav-fill {
  height: 35px;
  overflow: hidden;
}

#nav-search .nav-fill input {
  border: none;
  height: 35px;
  width: 100%;
  padding: 5px 10px;
  font-size: 15px;
  color: #111;
  outline: none;
  float: left;
}

#nav-search .nav-right {
  background-color: #febd69;
  width: 45px;
  height: 35px;
  border-radius: 0 4px 4px 0;
  float: right;
  width: 8%;
}

#nav-search .nav-right:hover {
  background-color: #f3a847;
}

#nav-search .nav-right i {
  position: absolute;
  top: 14px;
  right: 38px;
  color: #333;
  font-size: 22px;
  opacity: 0.9;
}

#nav-search .nav-right input {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  text-indent: -1000px;
}

.sidedetails {
  float: left;
  width: 400px;
  padding:  15px 5px 5px 5px;
  font-family:system-ui;
}

.sidedetails div{
  padding: 0px 10px;
}

.sidedetails p{
  line-height: 12px;
}

.sidedetails .cart {
    background: transparent url(../images/cart.png) no-repeat 5px 3px;
    background-size: 39px;
    padding: 3px 20px 7px 50px;
  }

.bottom-header {
    line-height: 34px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232f3e;
    
  }

.bottom-header div {
  float: left;
  padding: 0px 10px;
}

.bottom-header-image {
  float: right;
  font-size: 18px;
  font-weight: 400px; 
  text-align: right;
}

.bottom-header a {
    color: white;
    text-decoration: none; /*used to remove the underline of anchor tag*/
  }



/* CSS of sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-upperpart {
  background-color: #232f3e;
  height: 40px;
}

.sidenav-upperpart .username {
  float: left;
  color: white;
  font-weight: 800px;
  font-size: 22px; 
  padding-bottom: 10px;
  padding: 5px 10px;
}

.sidenav-upperpart i {
  font-size: 30px;
  padding: 5px 10px;
}

.sidenav-upperpart div {
  padding: 0 10px;
  float: left;
}

.sidenav-upperpart ul {
  list-style-type: none;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mySidenav .sidenav-list{
  padding: 20px;
  font-size: 20px;
}

#mySidenav .sidenav-list ul{
  list-style: none;
  padding: 10px 0px;
}


/* CSS for form */
 

.input-a [type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.input-a [type=submit] {
  background-color: #ffa500;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-a [type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-right: 430px;
  padding-bottom: 50px;
  padding-left: 280px;
}