html, body {
  margin: 0;
  background-color:LightGray;
  font-family: arial,sans-serif;
  min-width: 100%;
  font-size: 14px;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

/* CSS for header part begins here */

#top-header-id .sidelogo {
  padding-top: 5px;
  float: left;
  width: 300px;
  line-height: 29px;
}

#nav-logo {
  padding: 11px 18px 0 24px;
  position: relative;
  width: 162px;
  float: left;
}

#nav-logo .nav-logo-link {
  background: transparent url('../images/logo.png') no-repeat top left;
  background-size: 102px;
  width: 120px;
  height: 32px;
  display: block;
}


#top-header-id .sidelogo .side-image-text {
  padding-top: 8px;
  float: left;
  font-family:system-ui;
}

#top-header-id .sidelogo .side-image-text p {
  line-height: 13px;
}


#top-header-id .uppertext{
  font-size: 10px; 
}

#top-header-id .lowertext{
  font-size: 15px;
}


.top-header{
  height: 55px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  color: white;
}


#nav-search {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 11px;
  padding-right: 25px;
  float:left; 
  width: calc(100% - 700px);
}


#nav-search .nav-left {
  height: 35px;
  background-color: #f3f3f3;
  border-radius: 4px 0 0 4px;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  float: left; 
  width: 7%;
}

#nav-search .nav-left:hover {
  background-color: #dadada;
  border-left-color: #dadada;
  border-top-color: #dadada;
  border-bottom-color: #dadada;
}

#nav-search .nav-search-label {
  color: #777;
  display: block;
  font-size: 12px;
  line-height: 33px;
  margin-right: 21px;
  margin-left: 10px;
}

#nav-search .nav-left i {
  position: absolute;
  top: 10px;
  right: 9px;
  color: #a0a0a0;
  font-size: 11px;
}

#nav-search select {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  height: 35px;
  display: block;
  outline: none;
  cursor: pointer;
}

#nav-search .nav-fill {
  height: 35px;
  overflow: hidden;
}

#nav-search .nav-fill input {
  border: none;
  height: 35px;
  width: 100%;
  padding: 5px 10px;
  font-size: 15px;
  color: #111;
  outline: none;
  float: left;
}

#nav-search .nav-right {
  background-color: #febd69;
  width: 45px;
  height: 35px;
  border-radius: 0 4px 4px 0;
  float: right;
  width: 8%;
}

#nav-search .nav-right:hover {
  background-color: #f3a847;
}

#nav-search .nav-right i {
  position: absolute;
  top: 14px;
  right: 38px;
  color: #333;
  font-size: 22px;
  opacity: 0.9;
}

#nav-search .nav-right input {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  text-indent: -1000px;
}

.sidedetails {
  float: left;
  width: 400px;
  padding:  15px 5px 5px 5px;
  font-family:system-ui;
}

.sidedetails div{
  padding: 0px 10px;
}

.sidedetails p{
  line-height: 12px;
}

.sidedetails .cart {
    background: transparent url(../images/cart.png) no-repeat 5px 3px;
    background-size: 39px;
    padding: 3px 20px 7px 50px;
  }

.bottom-header {
    line-height: 34px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232f3e;
    
  }

.bottom-header div {
  float: left;
  padding: 0px 10px;
}

.bottom-header-image {
  float: right;
  font-size: 18px;
  font-weight: 400px; 
  text-align: right;
}

.bottom-header a {
    color: white;
    text-decoration: none; /*used to remove the underline of anchor tag*/
  }



/* CSS of sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-upperpart {
  background-color: #232f3e;
  height: 40px;
}

.sidenav-upperpart .username {
  float: left;
  color: white;
  font-weight: 800px;
  font-size: 22px; 
  padding-bottom: 10px;
  padding: 5px 10px;
}

.sidenav-upperpart i {
  font-size: 30px;
  padding: 5px 10px;
}

.sidenav-upperpart div {
  padding: 0 10px;
  float: left;
}

.sidenav-upperpart ul {
  list-style-type: none;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#mySidenav .sidenav-list{
  padding: 20px;
  font-size: 20px;
}

#mySidenav .sidenav-list ul{
  list-style: none;
  padding: 10px 0px;
}


  /* Grid CSS for the central part */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  padding: 20px;
  font-family:system-ui;
}

.grid-container p{
  font-size: 20px; 
  font-weight: 600;
  line-height: 25px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.grid-container-incard {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4px;
  padding: 4px;
  align-items: center;
}

.grid-container-incard img {
  float:left; 
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  /* width:90%;
  height:80%; */
}

.card {
  padding: 5px;
  background-color: whitesmoke;
  transition: transform .2s;
  width: 100%;
  
}



/* 
 .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  -ms-transform: scale(1.1);
-webkit-transform: scale(1.1); 
 transform: scale(1.1); 
}  */


.grid-container-two {
  display: grid;
  grid-template-columns: 610px auto auto;
  grid-gap: 20px;
  padding: 20px;
}
.grid-container-two p{
  font-size: 20px; 
  font-weight: 600;
  line-height: 25px;
}

.grid-container-two > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.grid-container-two-img {
  height: auto;
  width: auto;
  max-width: 600px;
  max-height: 300px;
}

/* CSS of lower slide */

.lower-slide {
  height: 230px;
  background-color: white; 
  padding-top: 20px;
}

.lower-slide img {
  float:left;
  width:90%;
  height:80%;
}



/* CSS of footer */

.footer {
  background-color: #111;
}

.footer .backtotop {
  color:white;
  text-decoration: none;
  line-height: 29px;
  font-size: 20px;
}

.footer-countries {
  height:20px;
  padding-left: 100px;
}

.footer-countries p {
  color: whitesmoke;
  float: left;
  padding: 10px 10px;
  
}

.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-left: 110px;
  padding-top: 20px;
  padding-right: 110px;
}
.grid-item {
  padding: 20px;
  font-size: 15px;
  color: white;
  text-align: left;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-left: 90px;
  padding-top: 20px;
  padding-right: 90px;
}
.grid-item-2 {
  padding: 7px;
  font-size: 15px;
  color: whitesmoke;
  text-align: left;
}

.grid-container-photo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 10px;
}

.grid-container-photo > div {
  text-align: center;
  font-size: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



/* CSS for slide show */

.mySlides {display: none}
img {vertical-align: middle;
  width:100%; 
  height:250px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #111;
  font-weight: 0px;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: transparent;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
